.bayar{
    text-align: center;
}
.thead, .item, .tot{
    text-align: center;
}
.textminplus{
    text-align: center;
    width: 100px;
}
.qty{
    border: 1px black solid;
    border-radius: 2px;
    padding: 3px;
    padding-left: 15px;
    padding-right: 15px;
    max-width: 4;
}
