/* CSS Navbar */
.fa-shopping-cart{
    position: relative;
}
.tambah-produk{
    position: absolute;
    top: -17px;
    right: -17px;
    width: 25px;
    height: 25px;
    font-size: 0.8rem;
    border-radius: 50%;
    background-color: rgb(255, 0, 0);
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
}

/* CSS Keranjang */
.judul_keranjang{
    display: inline-block;
}
.bayar{
    text-align: center;
}
.thead, .item, .tot{
    text-align: center;
}
.textminplus{
    text-align: center;
    width: 100px;
}
.qty{
    border: 1px black solid;
    border-radius: 2px;
    padding: 3px;
    padding-left: 15px;
    padding-right: 15px;
    max-width: 4;
}

/* CSS Footer */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: poppins;
    box-sizing: border-box;
}
.footer .container{
    max-width: 1170px;
    margin: auto;
}
.footer .container a{
    text-decoration: none
}
.footer .container .row{
    display: flex;
    flex-wrap: wrap;
}
/* span{
    list-style: none;
} */
.footer{
    margin-top: 50px;
    background-color: rgb(78, 187, 255);
    padding: 40px 0;

}
.col{
    width: 25%;
    padding: 0 15px;
}
.col h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;
}
.col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    /* background-color: blue; */
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.col span{
    padding-left: -100px;
}
.col span:not(:last-child){
    margin-bottom: 10px;
}
.col span a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: rgb(230, 230, 230);
    display: block;
    transition: all  0.3 ease;
}
.col span a:hover{
    color: #ffffff;
    padding-left: 5px; /*hover ke kiri dikit*/
}
.col .social-media a{
    display: inline-block;
    height: 40x;
    width: 40px;
    background-color: rgb(172, 171, 171);
    margin-right: 10px;
    margin: 0px 10px 10px 0px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.3 ease;
}
.col .social-media a:hover{
    color: rgb(172, 171, 171);
    background-color: #ffffff;
}

@media (max-width:767px){

}